:root {
  --background: #10131E;
  --primary: #7EE1BD;
  --secondary: #F7F7F9;
  --text-primary: var(--secondary);
  --text-secondary: #A0A0A0;
  --border-color: rgba(126, 225, 189, 0.2);
  --hover-color: rgba(255, 255, 255, 0.1);
  --error-color: #FF4D4F;
  --success-color: #52C41A;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-apfel-grotezk);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}